/* CSS */
#hero-section {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  text-align: center;
  padding: 20px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #3f3d3e;

}

#hero-content {
  max-width: 600px;
}

#hero-content h1 {
  font-size: 3rem;
  font-family: "Paytone One", sans-serif;
}

#hero-content h2 {
  font-size: 2rem;
  opacity: 0.7;
}

#hero-content p {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 20px;
}

#hire-btn {
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #3f3d3e;
  background: #0f0d0e;
  padding: 10px 30px;
  color: #3f3d3e;
  cursor: pointer;
  transition: 0.3s;
}

#hire-btn:hover {
  color: #959595;
  cursor: pointer;
  transition: 0.5s;
}

#hero-image-div {
  max-width: 400px;
  padding: 20px;
}

#hero-image {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  border: 5px solid #3f3d3e;
}

@media (max-width: 768px) {
  #hero-section {
    flex-direction: column;
  }

  #hero-content h1 {
    font-size: 2.5rem;
  }

  #hero-content h2 {
    font-size: 1.8rem;
  }

  #hero-content p {
    font-size: 1rem;
  }
}