#skill-section {
  border-width: 1px 1px 1px;
  border-style: solid;
  border-color: #3f3d3e;
}

#skill-section>.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0 200px 200px 200px;
}

.skills-logos {
  width: 50px;
}

.skill {
  color: white;
  text-align: center;
  padding: 20px 50px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3f3d3e;
}


.skill-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill-title>span {
  font-size: 20px;
  font-weight: 300;
  color: #959595;
}

#skill-section>#heading {
  padding: 50px 0;
  text-align: center;
}

#skill-section>#heading>h1 {
  font-size: 72px;

}

#skill-section>#heading>h3 {
  font-weight: 300;
  font-size: 30px;
}


@media screen and (max-width: 600px) {
  #skill-section>#heading>h1 {
    font-size: 48px;
  }

  #skill-section>#heading>h3 {
    font-size: 24px;
  }

  .skill {
    padding: 20px;
    font-size: 20px;
  }

  .skills-logos {
    width: 40px;
  }

  #skill-section>.container {

    padding: 0;
  }
}