.cards {
  padding: 10px 20px;
  min-height: 400px;
  transition: transform 0.5s, box-shadow 0.5s;
  border: 1px solid #3f3d3e;
  transform: translateY(3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards>p {
  text-align: justify;
}

.cards>div>a {
  font-weight: 600;
  cursor: pointer;
}

.color {
  margin-top: 0px;
  color: #959595;
}

.star-rating {
  width: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}