#about-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
#about-content > #heading > h1 {
  font-size: 72px;
  font-family: "Paytone One", sans-serif;
}
#about-content > #heading > h3 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
}
#about-content > p {
  font-size: 24px;
  font-family: "Outfit", sans-serif;
}
#about-content > p > span {
  color: #fcba28;
}
#about-image > img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border: 10px solid #fcba28;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
  margin-bottom: 50px;
}
#about-image > img:hover {
  scale: 1.05;
  transition: 0.5s;
}
#about-content {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  #about-content {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  #about-content {
    width: 100%;
    text-align: justify;
  }
  #about-content > p {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
  }
  #about-section > #heading > h3 {
    font-size: 16px;
  }
  #about-image > img {
    margin-bottom: 20px;
  }
  #about-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
