#divider {
  margin: 0px auto;
  border: 1px solid #3f3d3e;
  width: 20px;
  height: 100px;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;

}