.container {
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#logo {
  border-radius: 5px;
  font-size: 35px;
  font-family: "Paytone One", sans-serif;
  cursor: pointer;
}
#resume-btn {
  border: 2px solid #fcba28;
  font-size: 18px;
  border-radius: 25px;
  padding: 10px 30px;
  color: #fcba28;
  background: #0f0d0e;
  transition: 0.5s;
}
#resume-btn {
  color: #fcba28;
  text-decoration: none;
}
#resume-btn > a:hover {
  color: #0f0d0e;
}
#resume-btn:hover {
  background: #fcba28;
  color: #231f20;
  transition: 0.5s;
}
ul {
  display: flex;
  align-items: center;
}
li {
  font-size: 20px;
  list-style: none;
  margin: 0px 25px;
  transition: 0.5s;
}
li > a {
  color: #fcba28;
  text-decoration: none;
}
li > a:hover {
  color: #f9f4da;
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  #nav-items {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    margin-bottom: 0;
  }
  #nav-items {
    display: none;
  }
  #logo {
    border-radius: 5px;
    font-size: 20px;
  }
  #resume-btn {
    padding: 8px 20px;
  }
}
