.container {
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}
#logo {
  border-radius: 5px;
  font-size: 35px;
  font-family: "Paytone One", sans-serif;
  cursor: pointer;
}
#resume-btn {
  border: 2px solid #fcba28;
  font-size: 18px;
  border-radius: 25px;
  padding: 10px 30px;
  color: #fcba28;
  background: #0f0d0e;
  transition: 0.5s;
  text-decoration: none;
  white-space: nowrap;
}
#resume-btn:hover {
  background: #fcba28;
  color: #231f20;
  transition: 0.5s;
}
ul {
  display: flex;
  align-items: center;
}
li {
  font-size: 20px;
  list-style: none;
  margin: 0px 25px;
  transition: 0.5s;
}
li > a {
  color: #fcba28;
  text-decoration: none;
}
li > a:hover {
  color: #f9f4da;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 1170px) {
  #nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #0f0d0e;
    border-top: 1px solid #fcba28;
    z-index: 1;
  }

  #nav-items.visible {
    display: flex;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    margin: 10px 0;
  }

  nav {
    margin-bottom: 0;
  }

  #logo {
    font-size: 20px;
  }

  #resume-btn {
    padding: 6px 16px;
    position: absolute;
    right: 10px;
    top: 1px;
  }
}
