.container {
  width: 100%;

}


nav {
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid #3f3d3e;
}

.logo-a {
  border-radius: 5px;
  font-size: 35px;
  font-family: "Paytone One", sans-serif;
  cursor: pointer;
  color: #3f3d3e;
  text-decoration: none;
}

.logo-a:hover {
  color: #959595;
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  font-size: 20px;
  list-style: none;
  transition: 0.5s;
}

li>a {
  color: #3f3d3e;
  text-decoration: none;
}

li>a:hover {
  color: #959595;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 1170px) {
  #nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #0f0d0e;
    border-top: 1px solid #fcba28;
    z-index: 1;
  }

  #nav-items.visible {
    display: flex;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    margin: 10px 0;
  }

  nav {
    padding: 0px;
    margin-bottom: 0;
  }

  #logo {
    font-size: 20px;
  }

}