#hero-section {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
/* #hero-section {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 100px;
} */

#hero-content > h1 {
  font-size: 72px;
  font-family: "Paytone One", sans-serif;
}
#hero-content > h2 {
  margin-top: 10px;
  font-size: 40px;
  opacity: 0.5;
  transform: translateY(3rem);
  animation: fadeIn2 1s ease-in-out forwards;
}
#hero-content > div > p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  opacity: 0.5;
  transform: translateY(3rem);
  animation: fadeIn2 1s ease-in-out 200ms forwards;
}
#hire-btn-div {
  opacity: 0.5;
  transform: translateY(3rem);
  animation: fadeIn2 1s ease-in-out 400ms both;
}
#hire-btn {
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #fcba28;
  background: #0f0d0e;
  border-radius: 25px;
  padding: 10px 30px;
  color: #fcba28;
  cursor: pointer;
  transition: 0.5s;
}
#hire-btn:hover {
  margin-top: 20px;
  background: #fcba28;
  color: #231f20;
  transition: 0.5s;
}
#hero-image {
  position: absolute;
  width: 350px;
  background: #f9f4da;
  top: 40px;
  left: 25px;
  border-radius: 300px 200px;
  border: 5px solid #3f3d3e;
}

#hero-image-div > div {
  padding: 10px;
  border: 5px solid #f9f4da;
  border-radius: 10px;
  background: #fcba28;
  box-shadow: 10px 10px 0 #f9f4da;
  width: 400px;
  height: 500px;
  transform: rotate(10deg);
  transform: translateY(3rem);
  opacity: 0.5;
  animation: fadeIn 900ms ease forwards;
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  #hero-section {
    margin-top: 10px;
    flex-direction: column;
  }
  .welcome::after,
  .welcome::before {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #hero-section {
    margin-top: 10px;
    flex-direction: column;
  }
  #hero-content > h1 {
    font-size: 62px;
  }
  #hero-content > h2 {
    margin-top: 10px;
    font-size: 30px;
  }
  #hero-content > div > p {
    margin-top: 10px;
    font-size: 16px;
  }
  #hero-image-div > div {
    margin-top: 30px;
    width: 320px;
    height: 400px;
  }
  #hero-image {
    width: 260px;
    top: 40px;
    left: 25px;
  }
  .welcome::after,
  .welcome::before {
    display: none;
  }
}

/* animation typing and blinking */
.welcome::before,
.welcome::after {
  content: "";
  position: absolute;
  top: 19.5rem;
  right: 0;
  bottom: 0;
  left: 8%;
}
.welcome::before {
  background-color: #0f0d0e;
  /* width: 0.125em; */
  height: 5.5rem;
  animation: typewriter 2s steps(15) 1s forwards;
}
.welcome::after {
  width: 0.125em;
  height: 5.5rem;
  background-color: #fcba28;
  animation: typewriter 2s steps(15) 1s forwards, blink 750ms steps(24) infinite;
}
@keyframes typewriter {
  to {
    left: 51%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0rem);
    transform: rotate(-5deg);
  }
}
@keyframes fadeIn2 {
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
