.cards {
  padding: 20px;
  min-height: 350px;
  border-radius: 10px;
  box-shadow: 10px 10px 0 #8e8d88;
  transition: 0;
  border: 5px solid #f9f4da;
  transform: translateY(3rem);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.cards:hover {
  scale: 1.02;
  transition: 0.5s;
}
#project-image {
  width: 60px;
  display: block;
  /* margin: 0 auto; */
}
.star-rating {
  width: 40px;
  margin: 0;
  padding: 0;
}
.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards > p {
  text-align: justify;
}
.cards > div > a {
  font-weight: 600;
  cursor: pointer;
}
.color {
  margin-top: 5px;
  color: #0f0d0e;
}
