footer {
  background-color: #231f20;
  height: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  padding: 100px 0;
}
.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.social-items {
  background: #1c191a;
  padding: 8px 18px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.social-items > a {
  text-decoration: none;
}
#copyright {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .social-list {
    flex-direction: column;
    gap: 0;
  }
  .footer {
    flex-direction: row;
  }
  .social-items {
    background: none;
    padding: 0 5px;
  }
}
