* {
  color: #f9f4da;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0d0e;
  margin: 50px 12%;
  --sb-track-color: #0f0d0e;
  --sb-thumb-color: #fcba28;
  --sb-size: 4px;
  --sb-size: 4px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
::selection {
  color: #0f0d0e;
  background: #fcba28;
}

.online-status {
  font-size: 10px;
  position: fixed;
  left: 10px;
  top: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 20px;
  }
}
